.header-black::before{
    content: "";
    background: url("../images/cloudT&S/yoyo.jpg") no-repeat center center/cover;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%; 
    z-index: -1;
    filter: brightness(0.94);
    top: 0;
    left: 0;
    opacity:0.75;
    filter: brightness(0.5);
}

.row{
    justify-content: space-between;
    
}
.bgImageContainer{
    height: 85vh;
}


.ImageColumn{
    margin: 7vw 0;
    background: url(/assets/images/cloudT&S/architecture-gef72ea486_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15vw;
    /* filter: brightness(0.4); */
    color: black;
    font-weight: bold;
    text-align: center;
}
.para{
    background-color: white;

   
    padding: 0vw 8vw 2vh 8vw;
    line-height: 1.6;
    margin-top: 0%;
    /* width: 71%; */
    text-align: justify;
    /* font-size: 3.1vh; */
    font-size: 3vh;
    
}

.para1{
    padding-top: 6vh;
    
}

.banner-main {
        margin-top: -58vh !important;
}

.paraTitle{
    background: white;
    font-size: 5vh;
    text-align: center;
    padding-top: 3vw;
}


.banner-main {
    margin-top: -37ftrr 0px;
}


.paraT{
    
    margin-top: 9vw;
}
.banner-main .page-title1 {
    font-size: 10vh;
    color: #fff;
    line-height: 1;
    letter-spacing: 2px;
    opacity: 1;
}


@media screen and (max-width:500px)  {
    .service{
        flex-direction: column;
        margin: 0;
    }

    .service2, .service1, .service3{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 4vw 1vw;
    }

    .ser{
        margin: 0;
        width: 14vh;
        width: 16vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .serviceTitle{
        font-size: 1.6vh;
    }
    
    
}


.paraImg{
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
}


.allala{
    display: flex;
    justify-content: center;
    align-items: center;

}


.imgImg{
    
    margin-right: 4vw;

    
    width: -webkit-fill-available;
    margin-top: 11vw;

}


.imgImg2{
    margin-left: 4vw;

    width: -webkit-fill-available;
    /* margin-top: 11vw; */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;


}




.imgCloud{
    height: 26vh;
}




.TitleT{
    font-size: 6vh;
    text-align: center;
}



.Partners{
    margin: 5vw;
    padding: 0 3vw;
}

.TitleTT{
    padding-top: 5vw;
}
.pppi{
    width: 20vw;
    margin: 0 5vw;
    height: 12vw;
}


.partImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    
}




@media screen and (max-width:780px)  {
    
        .partImg{
            flex-direction: column;
        }
        #aboutTitle{
            font-size: 8vh;
        }


        .pppi{
            width: 46vw;
    margin: 0 5vw;
    height: 46vw;
    margin-top: 11vw;
        }
    .container{
        padding-top: 0 !important;
    }

    .TitleTT{
        padding-top: 30vw;
    }
    
    
    .allala{
        flex-direction: column;
    }
    
    
    .paraImg{
        width: 50vw;
        height: 50vw;
    }
    
    
    
    
    
    .imgCloud{
        height: 16vh;
    }
    .TitleT {
        font-size: 8vw;
        text-align: center;
    }
    .ImageColumn{
        font-size: 6vw;
    }
    
    
}


@media screen and (max-width:1100px) {
    .allala{
        flex-direction: column;
    }
    
    .paraImg{
        width: 35vw;
        height: 35vw;
    }
   
    .imgImg{
        
        display: flex;
        justify-content: center;
        margin-bottom: 5vw;
    
    }
    
    
}