.header-black::before{
    content: "";
    background: url("../images/it&infa/job-5382501.jpg") no-repeat center center/cover;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%; 
    z-index: -1;
    filter: brightness(0.94);
    top: 0;
    left: 0;
    opacity:0.75;
    filter: brightness(0.5);
}

.row{
    justify-content: space-between;
}

.line{
    border-left: 5vw solid black;
    height: 2vh;
}

.hideGroup{

    display: none;
}



.bgImageContainer{
    height: 85vh;
}


.banner-main {
    margin-top: -37ftrr 0px;
}


.banner-main .page-title1 {
    font-size: 5rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 2px;
    opacity: 1;
}


.serviceImage{
    width: 25vw;
}


.serviceTitle{
    font-size: 2vw;
    text-align: center;
}

.para{
    background-color: white;
    text-align: justify;
    font-size: 1.6vw;
    padding: 0vw 8vw 2vh 8vw;
    line-height: 1.4;
}

.para1{
    padding-top: 4vh;

}

.paraTitle{
    background: white;
    font-size: 3vw;
    text-align: center;
    padding-top: 3vw;
}

.service{
    display: flex;
    margin: 0 9vw;
}

.service2{
    margin: 3vw;
}

.service1{
    margin: 3vw;
    margin-top: 18vw;
    display: flex;
    flex-direction: column;
}

.service3{
    margin: 3vw;
    margin-top: 7vw;
    margin-top: 18vw;

}

.ser{
    margin-bottom: 6vw;
    cursor: pointer;
}


.ciscoCourse{
    /* font-size: 2vw; */
    color: #6f6f9b;
    /* box-shadow: 3px 3px 7px -5px black; */

  color: #fff;
  background: linear-gradient(to right, #6f6f9b 0, #fff 10%, #6f6f9b 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}


@keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 20vw;
    }
    100% {
      background-position: 40vw;
    }
}

/* .para2{

    font-size: 2.2vw;
} */


